<nav id="main-nav" class="navbar navbar-expand navbar-dark bg-dark container d-flex flex-column flex-md-row justify-content-between">
	<div class="inner" id="inner-nav">

		<div class="container">
			<a href="/"><h1>Cyber Warfare Space</h1></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="container collapse navbar-collapse" id="navbar-links">
			<ul class="navbar-nav mr-auto" style="margin: auto auto;">
				{% for item in site.data.navigation %}
					<li class="nav-item{% if item.link == page.url %} active{% endif %}">
						<a class="nav-link" href="{{ item.link }}">
							{{ item.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

	</div>
</nav>