/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
/*  background-image: url("background.jpg");
  background-size: cover;*/
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
  box-shadow: inset 0 0 5rem #000;
}

main .card {
  border-radius: 6px;
  background: white;
}

main .card-body {
  border-radius: inherit;
  background: inherit;
  color: #333;
}

.cover-container {
  max-width: 42em;
}





/*
 * Cover
 */
.cover {
  margin: auto auto;
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


/*
 * Custom
 */

.small-logos {
  width: 40%;
}

.large-text {
  font-size: 4em;
}

.left-align-text{
  text-align: left !important;
}

/*
 * Navigation
 */


#main-nav {
  background-color: rgba(0, 0, 0, 0)!important;
}

#inner-nav {
  margin: auto auto;
}

.navbar-brand {
  font-size: 2.5em;
}

.nav-item {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
}

.nav-item.active {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 1);
}